textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    margin-bottom: 10px;
}

strong {
    display: block;
    margin-bottom: 5px;
}