textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    margin-bottom: 10px;
}

strong {
    display: block;
    margin-bottom: 5px;
}
.body-section {
    margin: 20px 0;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.body-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-header i {
    font-size: 18px;
    margin-right: 10px;
    color: #4a4a4a;
}

.body-header strong {
    font-size: 16px;
    flex-grow: 1;
}

.add-dropdown-button {
    margin-left: auto;
}
.tabs ul {
    display: flex;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding: 0;
}

.tabs ul li {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    font-weight: bold;
    color: #6c757d;
    transition: color 0.3s, border-bottom 0.3s;
}

.tabs ul li.active {
    border-bottom: 3px solid #007bff;
    color: #000;
}

.tabs ul li:hover {
    color: #007bff;
}