<div *ngIf="apiSchemas.length > 0">
  <form [formGroup]="schemaDetailsForm" (ngSubmit)="onUpdateSchema()">
    <div class="schema-details">
      <h1>
        <input formControlName="title" placeholder="Schema Title" />
        {{ selectedSchemaName | uppercase }}
      </h1>

      <!-- Description section -->
      <div class="description-section">
        <p
          *ngIf="!schemaDetailsForm.get('isEditingDescription')?.value"
          (click)="startEditingDescription()"
          class="description-text"
        >
          {{
            schemaDetailsForm.get("description")?.value ||
              "Click to add a description"
          }}
        </p>

        <textarea
          *ngIf="schemaDetailsForm.get('isEditingDescription')?.value"
          formControlName="description"
          (blur)="stopEditingDescription()"
          placeholder="Description"
          class="description-editor"
        ></textarea>
      </div>

      <div class="tabs">
        <ul>
          <li
            [ngClass]="{ active: activeTab === 'schema' }"
            (click)="setActiveTab('schema')"
          >
            <button type="button">Schema</button>
          </li>
          <li
            [ngClass]="{ active: activeTab === 'examples' }"
            (click)="setActiveTab('examples')"
          >
            <button type="button">Examples</button>
          </li>
          <li
            [ngClass]="{ active: activeTab === 'extensions' }"
            (click)="setActiveTab('extensions')"
          >
            <button type="button">Extensions</button>
          </li>
        </ul>
      </div>

      <div *ngIf="activeTab === 'schema'" class="api-details">
        <div class="properties-section">
          <h3>Schema type</h3>

          <!-- Check if properties exist -->
          <div *ngIf="selectedSchema.properties">
            <span class="property-count">
              Object({{ objectKeys(selectedSchema.properties).length }})
            </span>
            <button class="" (click)="onAddProperty()" type="button">+</button>

            <table class="properties-table">
              <tbody>
                <ng-container
                  *ngFor="let property of objectKeys(selectedSchema.properties)"
                >
                  <tr>
                    <td class="property-name">{{ property }}</td>
                    <td class="property-type">
                      <ng-container
                        *ngIf="
                          selectedSchema.properties[property].enum;
                          else propertyType
                        "
                      >
                        <ul>
                          <li
                            *ngFor="
                              let enumValue of selectedSchema.properties[
                                property
                              ].enum
                            "
                          >
                            {{ enumValue
                            }}{{
                              isLastEnumValue(enumValue, property)
                                ? ""
                                : ", "
                            }}
                          </li>
                        </ul>
                      </ng-container>
                      <ng-template #propertyType>
                        {{ selectedSchema.properties[property].type }}
                        <span
                          *ngIf="selectedSchema.properties[property].format"
                        >
                          &lt;{{
                            selectedSchema.properties[property].format
                          }}&gt;
                        </span>
                      </ng-template>
                    </td>
                  </tr>

                  <!-- Handling nested properties with enums -->
                  <ng-container
                    *ngFor="
                      let subProperty of objectKeys(
                        selectedSchema.properties[property].properties
                      )
                    "
                  >
                    <tr>
                      <td class="property-name">{{ subProperty }}</td>
                      <td class="property-type">
                        <ul
                          *ngIf="
                            selectedSchema.properties[property].properties[
                              subProperty
                            ].enum
                          "
                        >
                          <li
                            *ngFor="
                              let subEnum of selectedSchema.properties[property]
                                .properties[subProperty].enum
                            "
                          >
                            <span>
                              {{ subEnum
                              }}{{
                                isLastEnumValue(subEnum, property)
                                  ? ""
                                  : ", "
                              }}
                            </span>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </ng-container>
                </ng-container>
              </tbody>
            </table>
          </div>

          <!-- If schema has enum -->
          <div *ngIf="selectedSchema.enum">
            <h4>Enum Values:</h4>
            <ul>
              <li *ngFor="let enumValue of selectedSchema.enum">
                {{ enumValue }}
              </li>
            </ul>
          </div>

          <!-- If schema has allOf instead of properties -->
          <div *ngIf="selectedSchema.allOf">
            <span class="property-count">
              allOf({{ selectedSchema.allOf.length }})
            </span>
            <div *ngFor="let item of additionalItems">
              <h4>{{ item.type }}:</h4>
              <ul>
                <li *ngFor="let value of item.values">{{ value }}</li>
              </ul>
            </div>
          </div>

          <!-- Fallback for any other case -->
          <div
            *ngIf="
              !selectedSchema.properties &&
              !selectedSchema.enum &&
              !selectedSchema.allOf
            "
          >
            <p>No properties available for this schema.</p>
          </div>
        </div>
      </div>

      <div *ngIf="activeTab === 'examples'" class="api-details">examples</div>
      <div *ngIf="activeTab === 'extensions'" class="api-details">
        extensions
      </div>

      <button type="submit" [disabled]="!schemaDetailsForm.valid">
        Update Schema
      </button>
    </div>
  </form>
</div>
