<div *ngIf="apiSchemas.length > 0">
  <form [formGroup]="schemaDetailsForm" (ngSubmit)="onUpdateSchema()">
    <div class="schema-details">
      <h1>
        <input formControlName="title" placeholder="Schema Title" />
        {{ selectedSchemaName | uppercase }}
      </h1>

      <!-- Description section -->
      <div class="description-section">
        <!-- Description (Read-only when not editing) -->
        <p
          *ngIf="!schemaDetailsForm.get('isEditingDescription')?.value"
          (click)="startEditingDescription()"
          class="description-text"
        >
          {{
            schemaDetailsForm.get("description")?.value ||
              "Click to add a description"
          }}
        </p>

        <textarea
          *ngIf="schemaDetailsForm.get('isEditingDescription')?.value"
          formControlName="description"
          (blur)="stopEditingDescription()"
          placeholder="Description"
          class="description-editor"
        ></textarea>
      </div>

      <div class="tabs">
        <ul>
          <li
            [ngClass]="{ active: activeTab === 'schema' }"
            (click)="setActiveTab('schema')"
          >
            <button type="button">Schema</button>
          </li>
          <li
            [ngClass]="{ active: activeTab === 'examples' }"
            (click)="setActiveTab('examples')"
          >
            <button type="button">Examples</button>
          </li>
          <li
            [ngClass]="{ active: activeTab === 'extensions' }"
            (click)="setActiveTab('extensions')"
          >
            <button type="button">Extensions</button>
          </li>
        </ul>
      </div>

      <div *ngIf="activeTab === 'schema'" class="api-details">
        <div class="properties-section">
          <h3>Properties</h3>

          <table class="properties-table">
            <tbody>
              <tr
                *ngFor="let property of objectKeys(selectedSchema.properties)"
              >
                <td class="property-name">{{ property }}</td>
                <td class="property-type">
                  {{ selectedSchema.properties[property].type }}
                </td>
                <td class="property-actions">
                  <button mat-icon-button class="icon-button info-icon">
                    <mat-icon>info</mat-icon>
                  </button>

                  <button mat-icon-button class="icon-button book-icon">
                    <mat-icon>menu_book</mat-icon>
                  </button>

                  <button
                    mat-icon-button
                    class="icon-button trash-icon"
                    (click)="onDeleteProperty(property)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div *ngIf="activeTab === 'examples'" class="api-details">examples</div>
      <div *ngIf="activeTab === 'extensions'" class="api-details">
        extensions
      </div>

      <button type="submit" [disabled]="!schemaDetailsForm.valid">
        Update Schema
      </button>
    </div>
  </form>
</div>
