<div *ngIf="apiSchemas.length > 0">

  <div *ngIf="selectedSchemaData">
    <h3>Schema Details</h3>
    <h4>Description:</h4>
    <p>{{ selectedSchemaData.description || 'No description available' }}</p>

    <h4>Properties:</h4>
    <ul *ngIf="selectedSchemaData.properties">
      <li *ngFor="let propKey of objectKeys(selectedSchemaData.properties)">
        <strong>{{ propKey }}</strong>: {{ selectedSchemaData.properties[propKey].type }}
      </li>
    </ul>

    <p *ngIf="!selectedSchemaData.properties">No properties available</p>
  </div>
</div>