<form [formGroup]="apiForm" (ngSubmit)="onSubmit()">
    <div formArrayName="paths">
        <div *ngFor="let pathGroup of paths.controls; let i = index" [formGroupName]="i"
            class="path-group mat-elevation-z2">
            <h3>Path: <mat-form-field appearance="outline">
                    <mat-label>Path</mat-label>
                    <input matInput formControlName="path" />
                </mat-form-field></h3>

            <div formArrayName="methods" class="method-container">
                <div *ngFor="let methodGroup of getMethods(pathGroup).controls; let j = index" [formGroupName]="j"
                    class="method-group">
                    <h4>Method: <mat-form-field appearance="outline">
                            <mat-label>Method</mat-label>
                            <input matInput formControlName="method" />
                        </mat-form-field></h4>

                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Summary</mat-label>
                            <input matInput formControlName="summary" />
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description"></textarea>
                        </mat-form-field>
                    </div>

                    <div formArrayName="parameters" class="parameter-group">
                        <h5>Parameters:</h5>
                        <div *ngFor="let paramGroup of getParameters(methodGroup).controls; let k = index"
                            [formGroupName]="k">
                            <mat-form-field appearance="outline">
                                <mat-label>Parameter Name</mat-label>
                                <input matInput formControlName="name" />
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>In</mat-label>
                                <input matInput formControlName="in" />
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Description</mat-label>
                                <input matInput formControlName="description" />
                            </mat-form-field>

                            <mat-checkbox formControlName="required">Required</mat-checkbox>
                        </div>
                    </div>

                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Request Body</mat-label>
                            <textarea matInput formControlName="requestBody"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field appearance="outline">
                            <mat-label>Responses</mat-label>
                            <textarea matInput formControlName="responses"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>