<h3>Schema Extension</h3>
<div>
  <div class="button-row mt-3">
    <p-button
      label="Add Extension"
      icon="pi pi-file-plus"
      (click)="generateAndAddExtension()"
      class="p-button-outlined p-button-primary"
    ></p-button>

    <div class="right-buttons">
      <p-toast />
      <p-button
        icon="pi pi-copy"
        (click)="copyExample()"
        title="Copy Extension"
        class="p-button-text"
      ></p-button>
      <p-button
        *ngIf="selectedSchema?.examples?.length > 0"
        icon="pi pi-trash"
        (click)="deleteExtension()"
        title="Delete Extension"
        class="p-button-text"
      ></p-button>
    </div>
  </div>
  <div class="card">
    <p-tabMenu [model]="extensions" [(activeItem)]="activeItem"></p-tabMenu>
  </div>

  <div
    *ngIf="selectedSchema?.examples?.length > 0"
    class="example-display mt-3"
  >
    <textarea
      rows="10"
      cols="50"
      pInputTextarea
      [autoResize]="true"
      [formControl]="extensionsControl"
      placeholder="Edit Extension here"
      class="example-textarea"
      (blur)="saveCurrentExample()"
    ></textarea>
  </div>
</div>
