<div class="container">
    <h1>To-Do Form</h1>
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="version">Version</label>
            <input id="version" formControlName="version" type="text">
        </div>

        <div>
            <label for="consumes">consumes</label>
            <input id="consumes" formControlName="consumes" type="text">
        </div>

        <div>
            <label for="paths">Paths</label>
            <input id="paths" formControlName="paths" type="text">
        </div>

        <div>
            <label for="security">security</label>
            <input id="security" formControlName="security" type="text">
        </div>

        <button type="submit">Submit</button>
    </form>
</div>