<div class="container">
    <h1>To-Do Form</h1>
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="title">Title</label>
            <input id="title" formControlName="title" type="text">
        </div>

        <div>
            <label for="description">Description</label>
            <input id="description" formControlName="description" type="text">
        </div>

        <div>
            <label for="id">ID</label>
            <input id="id" formControlName="id" type="text">
        </div>

        <div>
            <label for="serverUrl">Server URL</label>
            <input id="serverUrl" formControlName="serverUrl" type="text">
        </div>

        <button type="submit">Submit</button>
    </form>
</div>