/* Sidebar Container */
.sidenav-container {
  height: 100vh;
  display: flex;
}

/* Sidebar (PrimeNG PanelMenu) */
.sidenav {
  width: 300px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.card .mat-toolbar {
  background-color: #3f51b5;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.method-link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
  background: none;
  border-radius: 0;
  box-shadow: none;
}

/* Hover effect to highlight the link */
.method-link:hover {
  background-color: #e0e0e0;
}

/* Method Details - Flex Layout */
.method-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px dashed #ccc;
}

/* Style for the method summary (text) */
.method-summary {
  font-size: 14px;
  color: #000;
  flex-grow: 1;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Style for the method type (e.g., POST, GET, etc.) */
.method-type {
  font-weight: bold;
  text-transform: uppercase;
  color: #3f51b5;
  font-size: 16px;
  white-space: nowrap;
  width: 55px;
  flex-shrink: 0;
}

/* Method-specific colors */
.method-post {
  color: #007bff;
  font-weight: bold;
}

.method-get {
  color: #28a745;
  font-weight: bold;
}

.method-delete {
  color: #ff5722;
  font-weight: bold;
}

.method-put {
  color: #df680d;
  font-weight: bold;
}

.method-patch {
  color: #ff9800;
  font-weight: bold;
}

/* Content section styling */
.mat-sidenav-content {
  padding: 20px;
  flex: 1;
}

.card-content {
  padding: 20px;
}

/* Active item styling */
.active-model {
  background-color: #e0f7fa;
  font-weight: bold;
  border-left: 3px solid #007bff;
}

/* Link styling in PanelMenu */
.panelmenu-item a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  padding: 10px;
  transition: background-color 0.2s;
}

.panelmenu-item a:hover {
  background-color: #f0f0f0;
}

.panelmenu-item a.active-model {
  color: #007bff;
  background-color: #e0f7fa;
  font-weight: bold;
}

/* Button container styling */
.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}